<form class="margin-top margin-bottom--large full-width" layout="column" layout-margin>
  <md-input-container class="md-icon-float md-block">
    <label>Email</label>
    <md-icon md-font-set="material-icons">account_circle</md-icon>
    <input ng-model="user.name" type="text" />
  </md-input-container>

  <md-input-container class="md-icon-float md-block margin-bottom--small">
    <label>Password</label>
    <md-icon md-font-set="material-icons">lock</md-icon>
    <input ng-model="user.password" type="text" />
  </md-input-container>

  <div layout layout-align="space-between center">
    <md-button class="md-raised md-primary">Login</md-button>

    <div>
      <span class="md-body-2 action-color">Or login with</span>
      <md-button class="no-padding no-margin md-icon-button">
        <md-icon md-svg-icon="{{ $ctrl.facebookIconUrl }}"></md-icon>
      </md-button>
      <md-button class="no-padding no-margin md-icon-button">
        <md-icon md-svg-icon="{{ $ctrl.googleIconUrl }}"></md-icon>
      </md-button>
    </div>
  </div>
</form>
