$spacing-unit: 24px;

.padding-all {
  padding: $spacing-unit;
}

.padding-all--small {
  padding: $spacing-unit * 0.5;
}

.padding-all--large {
  padding: $spacing-unit * 2;
}

.no-padding {
  padding: 0 !important;
}

.margin-top {
  margin-top: $spacing-unit;
}

.margin-top--small {
  margin-top: $spacing-unit * 0.5;
}

.margin-top--large {
  margin-top: $spacing-unit * 2;
}

.margin-top--xlarge {
  margin-top: $spacing-unit * 3;
}

.margin-bottom {
  margin-bottom: $spacing-unit;
}

.margin-bottom--small {
  margin-bottom: $spacing-unit * 0.5;
}

.margin-bottom--large {
  margin-bottom: $spacing-unit * 2;
}

.margin-bottom--xlarge {
  margin-bottom: $spacing-unit * 3;
}

.no-margin {
  margin: 0 !important;
}

.no-margin--top {
  margin-top: 0;
}

.no-margin--bottom {
  margin-bottom: 0;
}

.large-letter-spacing {
  letter-spacing: 3.6px;
}
